.finger {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 50%;
  width: 10px;
}

.finger:hover {
  transform: scale(1.1);
}
.container{
    position:relative;
    /* overflow-y:scroll */
}

/* Position fingers relative to the hand image (adjust as needed) */
.finger:nth-child(2) { top: 31.3%; left: 48%; }  /* Right Thumb */
.finger:nth-child(3) { top:4.5%; left: 53.9%; }  /* Right Index */
.finger:nth-child(4) { top: 1%; left: 58.3%; }  /* Right Middle */
.finger:nth-child(5) { top: 6.6%; left: 62.6%; }  /* Right Ring */
.finger:nth-child(6) { top: 23.6%; left: 67.2%; }  /* Right Little */
.finger:nth-child(7) { top: 31.2%; left: 39.4%; }  /* Left Thumb */
.finger:nth-child(8) { top: 4.5%; left:33.4%; }  /* Left Index */
.finger:nth-child(9) { top: 0.5%; left: 28.9%; }  /* Left Middle */
.finger:nth-child(10) { top: 6.2%; left:24.5%; }  /* Left Ring */
.finger:nth-child(11) { top: 22.4%; left: 19.8%; } /* Left Little */



.breadcrumb-active {
  color: black;
  font-weight: bold;
}

.breadcrumb-inactive {
  color: #999;
} 